<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.zeromass.scripts.TestConfigs" />
      <class name="com.zeromass.scripts.ComplaintTests"/>
      <class name="com.zeromass.scripts.VisitTests"/>
    </classes>
  <!--  <packages>
   	<package name="com.zeromass.scripts"></package>
   </packages> -->
  </test> <!-- Test -->
</suite> <!-- Suite -->